
.mainContainer {
  display: flex;
  gap: 20px;
  position: relative;
  min-height: 100vh;
}
.FilterSection {
  flex: 1;
}

.CardSection {
  flex: 3;
  width: 100%;
  margin-top: 0; 
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .mainContainer {
    flex-direction: column;
  }

  .FilterSection {
    position: absolute; 
    top: 40px; 
    left: 0;
    width: 274px;
    min-height: 150vh; 
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
  }

  .CardSection {
    width: 100%;
    margin-top: 20px;
  }

  .hidden {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.GrendContainer{
  padding: 30px;
  font-family:Arial, Helvetica, sans-serif
}